# You need the folling non-standard packages to run my main.py
# to install them, type this into your console:
# pip -r requirements.txt 

Python >=3.9 
numpy
pYAAPT
Aubio
dtwalign
DearPyGUI
PyAudio
playsound
Wave
tempfile
os
